include pyvbmc/testing/variational_posterior/*.txt
include pyvbmc/testing/variational_posterior/*.mat
include pyvbmc/testing/variational_posterior/test_vp_save_static.pkl
include pyvbmc/testing/vbmc/*.txt
include pyvbmc/testing/vbmc/compare_MATLAB/*
include pyvbmc/testing/vbmc/test_vbmc_save_static.pkl
prune docsrc
