include pyvbmc/testing/entropy/*.npz
include pyvbmc/testing/entropy/FIXTURES.md
include pyvbmc/testing/variational_posterior/*.txt
include pyvbmc/testing/variational_posterior/*.npz
include pyvbmc/testing/variational_posterior/FIXTURES.md
include pyvbmc/testing/variational_posterior/test_vp_save_static.pkl
include pyvbmc/testing/vbmc/*.txt
include pyvbmc/testing/whitening/*.txt
include pyvbmc/testing/vbmc/compare_MATLAB/*
include pyvbmc/testing/vbmc/test_vbmc_save_static.pkl
include pyvbmc/testing/oracles/fixtures/*.npz
include pyvbmc/testing/oracles/fixtures/*.json
include pyvbmc/testing/oracles/fixtures/gp_fit_history/*.npz
include pyvbmc/testing/oracles/fixtures/gp_fit_history/*.json
recursive-include pyvbmc/testing/calibration *.py
prune docsrc
include pyvbmc/testing/svbmc/fixtures/*.npz
include pyvbmc/testing/svbmc/fixtures/*.json
include pyvbmc/testing/svbmc/FIXTURES.md
include pyvbmc/svbmc/LICENSE.txt
