# run: pip install -i requirements.txt
# main dependencies
cma
corner
imageio
kaleido
matplotlib
numpy
scipy

# testing and linting
pylint
pytest
pytest-cov
pytest-mock
pytest-rerunfailures

# documentation
myst_nb
numpydoc
sphinx
sphinx-book-theme
